<div class="scrollable" ng-swipe-right="gobackAction()">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item list-group-item-home">
        {{post.title}}
      </div>
      <div class="list-group-item list-group-item-home">
        <div class="media-body">
            {{post.content}}
        </div>
      </div>
      <div class="list-group-item list-group-item-home">
        <div class="media-body">
            {{post.comment}}
        </div>
      </div>


      

    </div>

  </div>
</div>
