<div class="scrollable" ng-swipe-right="gobackAction()">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>ID: <small>{{Id}}</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home">
        <div class="media-body">
            Open the sidebar and start testing features Open the sidebar and start testing features
        </div>
      </div>


      

    </div>

  </div>
</div>
