<div class="scrollable">  

  <div class="scrollable-content" ui-scroll-bottom='loadmore()' ui-scroll-top="refresh()">

    <div class="list-group">
      <div ng-show="refreshAction" class="app-content-loading small">
        <i class="fa fa-spinner fa-spin loading-spinner small"></i> 刷新
      </div>

      <div class="list-group">
          <a class="list-group-item list-group-item-home media" href="#detail/1" ng-repeat="post in posts">
              <div class="pull-left">
                  <img ng-src="{{post.img_url}}" style="width:48px;height:48px;">
                  <div>{{post.name}}</div>
              </div>
              <div class="media-body">
                <h5 class="media-heading">{{post.title}}</h5>
              </div>
          </a>
      </div>

      <div ng-show="moreAction" class="app-content-loading small">
        <i class="fa fa-spinner fa-spin loading-spinner small"></i> 加载更多
      </div>
    </div>

  </div>
</div>
