<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TPOOO 托福批改</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="TPOOO-mobile" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="TPOOO-mobile-style" content="yes" />
    <link rel="stylesheet" href="dist/angularui/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/angularui/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="dist/angularui/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="dist/angularjs/angular.min.js"></script>
    <script src="dist/angularjs/angular-touch.min.js"></script>
    <script src="dist/angularjs/angular-animate.min.js"></script>
    <script src="dist/angularui/js/mobile-angular-ui.min.js"></script>
    <script src="js/app.js"></script>
    
  </head>

  <body 
    ng-app="App" 
    ng-controller="MainController"
    >    

    <div class="app">

      <div class="navbar navbar-app navbar-absolute-top toefl-navbar">
        <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
          写作批改
        </div>
        <div class="btn-group pull-left" ui-yield-to="navbarAction" ng-show="!show_page_post_list">
          <div class="btn" ng-click="back()">
            <i class="fa fa-angle-left"></i>
          </div>
        </div>
        <div class="btn-group pull-right" ui-yield-to="navbarAction" ng-show="show_page_post_list">
          <div ui-turn-on='filterDropdown' class="btn">
            <i class="fa fa-filter"></i>
          </div>
          <ul 
              class="dropdown-menu"
              ui-outer-click="Ui.turnOff('filterDropdown')"
              ui-outer-click-if="Ui.active('filterDropdown')"
              role="menu"
              ui-show="filterDropdown" 
              ui-state="filterDropdown"
              ui-turn-off="filterDropdown">
              <li><a ng-click="orderBy('name');Ui.turnOff('filterDropdown')">最后发表</a></li>
              <li><a ng-click="orderBy('title')">发帖时间</a></li>   
              <li><a>回复/查看</a></li>            
              <li class="divider"></li>
              <li><a>热门</a></li>
              <li><a>悬赏</a></li>
            </ul>
        </div>
      </div>

      <!-- App Body -->
      <div class="app-body">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>

        <div class="app-content">
          
          <!-- // Post list  -->
          <div class="scrollable list-page" ng-show="show_page_post_list"> 
            <div class="scrollable-content" ui-scroll-bottom='loadmore()' ui-scroll-top="refresh()">
              <div class="list-group">
                <div ng-show="refreshAction" class="app-content-loading small">
                  <i class="fa fa-spinner fa-spin loading-spinner small"></i> 刷新
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-home media post-item" ng-click="postList2post(post)" ng-repeat="post in list">
                        <div class="pull-left user">
                            <img ng-src="{{post.headPortraitUrl}}" class="head-portrait-70">
                            <div class="user-name">{{post.writerName}}</div>
                        </div>
                        <div class="media-body">
                          <div class="media-heading">{{post.postTitle}}</div>
                          <div class="dividing-line"></div>
                          <div><span class="pull-right post-time">发表于{{post.postTime}}</span></div>
                        </div>
                    </a>
                </div>
                <div ng-show="moreAction" class="app-content-loading small">
                  <i class="fa fa-spinner fa-spin loading-spinner small"></i> 加载更多
                </div>
              </div>
            </div>
          </div>

          <!-- // Post detail  -->
          <div class="{{page_nav}}">
            <div class="scrollable post-page"  ng-show="show_page_post">  
              <div class="scrollable-content"  ng-swipe-right="showHome()">
                <div class="post-detail">
                
                  <div ng-show="loading_detail">
                    <i class="fa fa-spinner fa-spin loading-spinner"></i>
                  </div>
                  <div class="post-title">{{post.postTitle}}</div>
                  <div class="writer-info">
                    <img ng-src="{{post.headPortraitUrl}}" class="head-portrait-70 pull-left">
                    <div class="media-body">
                      <div class="writer-name">{{post.writerName}}</div>
                      <div class="post-time">发表于{{post.postTime}}</div>                    
                    </div>   
                    <div class="clearfix"></div> 
                  </div>   
                  <div class="post-content">{{post.postContent}}</div>           
                  <div class="comment-count"><span>评论&nbsp;({{post.commentCount}})</span></div>
                 
                  <div class="list-group comment-list" ng-show="!loading_detail">
                    <a class="list-group-item list-group-item-home comment-item" ng-click="post2comment(comment)" ng-repeat="comment in post.commentList">
                      <img ng-src="{{comment.headPortraitUrl}}" class="head-portrait-60 pull-left">
                      <div class="media-body">
                        <div>{{comment.commenterName}}</div>
                        <div>{{comment.commentTime}}</div>
                        <div>{{comment.commentContent}}</div>
                      </div>                    
                    </a>
                  </div>
                </div>              
              </div>
            </div>
          </div>

          <!-- // Comment -->
          <div class="scrollable comment-page" ng-show="show_page_comment">  
            <div class="scrollable-content">
              <img ng-src="{{comment.headPortraitUrl}}" class="head-portrait-70 pull-left">
              <div class="media-body">
                  <div>{{comment.commenterName}}</div>
                  <div>{{comment.commentTime}}</div>                 
              </div>
              <div class="clearfix"></div>
              <div class="post-content">{{comment.commentContent}}</div>
            </div>
          </div>

        </div>



      </div>

    </div><!-- ~ .app -->

    <div ui-yield-to="modals"></div>

    
  </body>
</html>
