#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.feature-icon.fa-tachometer {
  line-height: 60px;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.app-content-loading.small{
  margin-top: 20px;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.loading-spinner.small{
  font-size: 20px;
  top: 25px;
  left: 40%;
}

.notices-container {
  overflow-x: hidden;
}


pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}


.btn i{
  font-size: 20px;
}


.toefl-navbar{
  background-color:#CE7A4C;
  color:#FFFFFF;
}
.toefl-navbar .btn{
  color:#FFFFFF;
}

.bg-clr-main{
  background-color: #F0F0F0;
}

.bg-white{
  background-color: #FFFFFF;
}

.fg-clr-ccc{
  background-color: #CCCCCC;
}

.mg-10{
  margin: 10px !important;
}

.pd-10{
  padding: 10px !important;
}

.pd-t-b-10{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pd-l-r-20{
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pd-l-15{
  padding-left: 15px !important;
}

.radius-5{
  border-radius: 5px !important;
}

.pos-rel{
  position: relative;
}

.list-page, .post-page, .comment-page{
  transition:all .3s linear;
  width:100%;
  position:absolute;  
  left:0;
  top:0;
  right:0;
  bottom:0;
}

.list-page.ng-hide{
  left:-100%;
}

.comment-page.ng-hide{
  left:100%;
}

.forward .post-page.ng-hide{
  left:-100%;
}
.backward .post-page.ng-hide{
  left:100%;
}



.head-portrait-70{
  width:70px;
  height:70px;
  border-radius:35px;
}
.head-portrait-60{
  width:60px;
  height:60px;
  border-radius:30px;
}

.post-item{
  height: 125px;
}

.post-item .user{
  margin-right: 20px;
}
.post-item .user-name{
  text-align: center;
  margin-top: 10px;
  color: #CCCCCC;
  font-size: 17px;
}
.post-item .media-heading{
  font-size: 16px;
  height: 66px;
  overflow: hidden;
}
.post-item .post-time{
  color: #CCCCCC;
}
.post-item .dividing-line{
  border-top: 1px dashed #CCCCCC;
  margin-top: 15px;
  margin-bottom: 6px
}


.post-detail .post-title{
  font-size: 18px;
}
.post-detail .writer-info{
  background-color: #DBE1E5;
  margin: 10px -20px;
  padding: 10px 20px;
}
.post-detail .writer-info .head-portrait{
  margin-right: 22px;
}
.post-detail .writer-info .writer-name{
  font-size: 20px;
  color: #8399A4;
  margin-top: 5px;
  margin-bottom: 3px;
}
.post-detail .writer-info .post-time{
 font-size: 17px; 
 color: #99ACB7;
}
.post-detail .post-content{
  font-size: 16px;
}
.dividing-line2{
  border-top: 1px solid #CCCCCC;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 25px;
}
.post-detail .comment-count{
  padding-top:10px;
}

.comment-item{
  border: 0px !important;
}
.comment-item .commenter-name{
  font-size: 16px;
}
.comment-item .comment-time{
  color: #CCCCCC;
  font-size: 14px;
}
.comment-item .comment-content{
  font-size: 16px;
}
.dividing-line3{
  border-top: 1px dashed #CCCCCC;
  margin-right: -20px;
  margin-top: 25px;
}

.comment-detail .commenter-info{
    background-color: #DBE1E5;
    padding: 10px 20px 15px 20px;
}
.comment-detail .media-body{
  padding-left: 15px;
}
.comment-detail .commenter-name{
  padding-top: 2px;
  font-size: 18px;
}
.comment-detail .comment-time{
  color: #CCCCCC;
  font-size: 16px;
}
.comment-detail .comment-content{
  padding: 10px 20px 15px 20px;
  font-size: 16px;
}
