body{
	background:#f9f9f9;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
*{
	margin: 0px; 
	padding: 0px;
	list-style: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
}
.wrapper{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	border: #000 0px solid;
	overflow: hidden;
}
.wrapper .content{
	width: 95%;
	margin: 0 auto;
	padding-top:8px;
}
.wrapper .title h4{
	font-weight: normal;
	text-align: center;
	color: #a5a5a5;
	font-size: 12px;
	line-height:27px; 
}
.wrapper .title-icon{
	overflow: hidden;
}
.title-icon h3{
	font-weight: normal;
	color: #000;
	float: left;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.title-icon .icon-wrap{
	float: right;
	line-height: 30px;
	height: 30px;
}
.title-icon .icon-wrap .icon-star{
	color: #ff8041;
	font-size: 16px;
}
.wrapper .content .number{
	color: #a5a5a5;
	font-size: 12px;
}
.question-content p{
	color: #666;
	margin-top: 14px;
	line-height: 24px;
	font-size: 15px;
}
/*refer analysis*/
.content-second{
	background: #fff;
	border-bottom: 1px solid #dddddd;
}
.refer-analysis{
	width: 95%;
	margin: 0 auto;
	padding-top:10px;
}
.refer-analysis .refer-analysis-title{
	color: #f6683a;
	line-height:30px;
	font-size: 15px;
}
.refer-analysis-content p{
	color: #333;
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 14px;
}
/*bottom*/
.bottom{
	height:60px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.opacity-bg{
	width: 100%;
	height: 100%;
	background-color: #000;
    opacity:0.7;
    position: absolute;
    left: 0px;
    top: 0px;
}
.bottom-content{
	margin: 0 auto;
	position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
.bottom-content img{
	float: left;
}
.bottom-content .img-download,.bottom-content .close-btn{
	float: right;
}
.bottom a{
	display: block;
}
.img-logo{
	width: 12.1275%;
	margin-left: 8px;
	margin-top: 7px;
	margin-right: 8px;
}
.img-text{
	width: 36.347%;
	margin-top: 12px;
}
.img-download{
	width: 33.291%;
	margin-top: 10px;
}
.close-btn{
	width: 5.0536%;
	margin-right: 8px;
	margin-left: 9px;
	margin-top: 19px;
}
/*bottom*/