html, body, .view-wrap{
height: 100%;
}
body{
	font-family: Chinesefonts,Englishfont,'方正中等线_GBK','Microsoft YaHei',Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei,Verdana, Aril, sans-serif;
}

.search-area{
	padding-left: 10px;
}

.kaowei-title{
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 0.9em;
	background-color: #ff794c;
}
.search-condition{
	position: fixed;
	z-index: 100;
	top: 0;
	margin-top: 40px;
	line-height: 60px;
	height: 60px;
	width: 100%;
	background-color: white;
	padding-right: 75px;

}
.search-condition .selected-city{
	height: 60px;
	width: 50px;
	position: absolute;
	left: 10px;
}

.keyword-input{
	margin-left: 60px !important;
}
.search-result{
	margin-top: 100px;
}

.city-school{
	
}
.city-name{
	padding: 0 10px;
	line-height: 30px;
	font-size: 1em;
	background-color: #E2E2E2;
}
.school{
	padding: 0 10px;
	height: 50px;
	border-bottom: 1px dashed #cfcfcf;
}
.school.last-school{
	border-bottom: 1px solid #cfcfcf;
}
.school-name{	
	line-height: 50px;
	font-size: 0.8em;
}

.school .mdi-navigation-chevron-right{
	float: right;
	color: #ccc;
	font-size: 22px;
	margin-top: 10px;
}


/* school-detail-page */
.school-detail-page{
	background-color: #F0F0F0;
	padding-bottom: 20px;
}

.school-img{
	display: block;
	width: 100%;
	margin-top: 40px;
}

.exam-point-code-wrap{
	margin: 10px 0;
	padding: 14px 0;
	position: relative;
	border-bottom: 1px solid #D5D5D5;
}
.point-code-label{
	position: absolute;
	top: 50%;
	line-height: 20px;
	margin-top: -10px;
	width: 90px;
	text-align: center;
	color: #333333;
	
}
.point-codes{
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	margin-left: 90px;
	padding-left: 20px;
	border-left: 1px solid #E2E2E2;
}
.point-code{
	display: inline-block;
	margin-right: 10px;
}
.exam-point-position{
	position: relative;	
	padding: 20px 0;
}
.exam-point-position .mdi-maps-place{
	position: absolute;
	top: 50%;	
	color: #FF794C;
	font-size: 34px;
	line-height: 34px;	
	margin-top: -17px;
	margin-left: 10px;	
}
.exam-point-position .position-text{
	display: inline-block;
	margin-left: 48px;
	margin-right: 42px;
	padding-left: 8px;
	font-size: 14px;
	border-left: 1px solid #E2E2E2;
}
.exam-point-position .mdi-navigation-chevron-right{
	position: absolute;
	top: 50%;
	font-size: 28px;
	line-height: 18px;
	margin-top: -9px;
	width: 28px;
	right: 10px;
	color: #87ACCF;
}

.exam-point-position-diving-line{
	margin-left: 14px;
	border-bottom: 1px solid #E2E2E2;
}


.exam-point-telephone{
	position: relative;	
	padding: 20px 0;
	border-bottom: 1px solid #D5D5D5;
}
.exam-point-telephone .mdi-maps-local-phone{
	position: absolute;
	top: 50%;	
	color: #FF794C;
	font-size: 34px;
	line-height: 34px;	
	margin-top: -17px;
	margin-left: 10px;	
}
.exam-point-telephone .phone-text{
	display: inline-block;
	margin-left: 48px;
	margin-right: 42px;
	padding-left: 8px;
	font-size: 14px;
	border-left: 1px solid #E2E2E2;
}
.exam-point-telephone .mdi-navigation-chevron-right{
	position: absolute;
	top: 50%;
	font-size: 28px;
	line-height: 18px;
	margin-top: -9px;
	width: 28px;
	right: 10px;
	color: #87ACCF;
}

.find-hotel{
	display: inline-block;
	border: 2px solid #5FBEF0;
	border-radius: 4px;
	width: 34%;
	margin-left: 8%;
	line-height: 40px;
	text-align: center;
	color: #5FBEF0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.find-food{
	display: inline-block;
	border: 2px solid #FFA54B;
	border-radius: 4px;
	width: 34%;
	margin-left: 16%;
	line-height: 40px;
	text-align: center;
	color: #FFA54B;
	margin-top: 10px;
	margin-bottom: 10px;
}
.find-hotel img, .find-food img{
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	margin-right: 8px;
}

.traffic-label{
	padding: 12px 0 13px 0px;
	border-bottom: 1px solid #E2E2E2;
	margin-left: 14px;
}
.traffic-detail{
	padding: 10px 0 10px 14px;
	border-bottom: 1px solid #E2E2E2;
}

.waves-effect.waves-hotel .waves-ripple {
    background-color: rgba(95, 190, 240, 0.65);
}
.waves-effect.waves-food .waves-ripple {
    background-color: rgba(255, 165, 75, 0.65);
}

#allmap{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
}