html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all
}

body {
    margin: 0;
    font-family: "Microsoft YaHei",å¾®è½¯é›…é»‘
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active,a:hover {
    outline: 0;
    text-decoration: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

mark {
    color: #000;
    background: #ff0
}

small {
    font-size: 80%
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

legend {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,th {
    padding: 0
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.roateCir {
    -webkit-animation-duration: .2s;
    animation-duration: .2s
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.bounceIn,.animated.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

.animated.rotateOutDownLeft,.animated.rotateInDownLeft {
    -webkit-animation-duration: .6s;
    animation-duration: .6s
}

.animated.flipOutX,.animated.flipOutY {
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

@-webkit-keyframes roateCircle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes roateCircle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.roateCir {
    -webkit-animation-name: roateCircle;
    animation-name: roateCircle
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        -webkit-animation-timing-function: cubic-bezier(0.550,0.055,0.675,0.190);
        animation-timing-function: cubic-bezier(0.550,0.055,0.675,0.190)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        -webkit-animation-timing-function: cubic-bezier(0.175,0.885,0.320,1);
        animation-timing-function: cubic-bezier(0.175,0.885,0.320,1)
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        -webkit-animation-timing-function: cubic-bezier(0.550,0.055,0.675,0.190);
        animation-timing-function: cubic-bezier(0.550,0.055,0.675,0.190)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        -webkit-animation-timing-function: cubic-bezier(0.175,0.885,0.320,1);
        animation-timing-function: cubic-bezier(0.175,0.885,0.320,1)
    }
}

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown
}

@-webkit-keyframes bounceInUp {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,3000px,0);
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes bounceInUp {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,3000px,0);
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}

@-webkit-keyframes bounceInDown {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-3000px,0);
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,25px,0);
        transform: translate3d(0,25px,0)
    }

    75% {
        -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInDown {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-3000px,0);
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,25px,0);
        transform: translate3d(0,25px,0)
    }

    75% {
        -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown
}

@-webkit-keyframes bounceInLeft {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px,0,0);
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px,0,0);
        transform: translate3d(25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(5px,0,0);
        transform: translate3d(5px,0,0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInLeft {
    0%,60%,75%,90%,100% {
        -webkit-transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px,0,0);
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px,0,0);
        transform: translate3d(25px,0,0)
    }

    75% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    90% {
        -webkit-transform: translate3d(5px,0,0);
        transform: translate3d(5px,0,0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft
}

@-webkit-keyframes shake {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

@keyframes shake {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}

@-webkit-keyframes rotateOutDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        opacity: 1
    }

    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }
}

@keyframes rotateOutDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        opacity: 1
    }

    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }
}

.rotateOutDownLeft {
    -webkit-animation-name: rotateOutDownLeft;
    animation-name: rotateOutDownLeft
}

@-webkit-keyframes rotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0,0,1,-45deg);
        transform: rotate3d(0,0,1,-45deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0,0,1,-45deg);
        transform: rotate3d(0,0,1,-45deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateInDownLeft {
    -webkit-animation-name: rotateInDownLeft;
    animation-name: rotateInDownLeft
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-200deg);
        transform: rotate3d(0,0,1,-200deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0,0,1,-200deg);
        transform: rotate3d(0,0,1,-200deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-2000px,0);
        transform: translate3d(0,-2000px,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-2000px,0);
        transform: translate3d(0,-2000px,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        visibility: visible
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        visibility: visible
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    50% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

.updown {
    -webkit-animation-name: updown;
    animation-name: updown
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@-webkit-keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%,0,0) skewX(-30deg);
        transform: translate3d(100%,0,0) skewX(-30deg);
        opacity: 0
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes lightSpeedIn {
    0% {
        -webkit-transform: translate3d(100%,0,0) skewX(-30deg);
        transform: translate3d(100%,0,0) skewX(-30deg);
        opacity: 0
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
}

/* @font-face {
    font-family: 'icomoon';
    src: url(/static/fonts/icomoon.eot?-ko04vy);
    src: url(/static/fonts/icomoon.eot?#iefix-ko04vy) format("embedded-opentype"),url(/static/fonts/icomoon.woff?-ko04vy) format("woff"),url(/static/fonts/icomoon.ttf?-ko04vy) format("truetype"),url(/static/fonts/icomoon.svg?-ko04vy#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-redo2:before {
    content: "\e968"
}

.icon-spinner:before {
    content: "\e984"
}

.icon-yes:before {
    content: "\f00c"
}

.icon-no:before {
    content: "\f00d"
}

.icon-display:before {
    content: "\f00e"
}

.icon-hidden:before {
    content: "\f010"
}

.icon-double-arrow-left:before {
    content: "\f100"
}

.icon-double-arrow-right:before {
    content: "\f101"
}

.icon-double-arrow-up:before {
    content: "\f102"
}

.icon-double-arrow-down:before {
    content: "\f103"
}

.icon-arrow-left:before {
    content: "\f104"
}

.icon-arrow-right:before {
    content: "\f105"
}

.icon-arrow-up:before {
    content: "\f106"
}

.icon-arrow-down:before {
    content: "\f107"
}

.icon-spinner3:before {
    content: "\e97c"
}

.icon-loop2:before {
    content: "\ea2e"
}

.icon-picassa:before {
    content: "\eaa4"
} */

.btn {
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.power {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0
}

.power > .text {
    font-size: 13px;
    color: #d7d7d7;
    text-shadow: 0 1px 0 0 rgba(215,215,215,.5);
    margin: 0 auto
}

.clear {
    width: 0;
    height: 0;
    clear: both
}

.bg-primary {
    color: #fff;
    background-color: #157efd
}

a.bg-primary:hover {
    background-color: #286090
}

.hide {
    display: none
}

.show {
    display: block
}

.full-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f2f2f2
}

@media (min-width: 640px) {
    .full-page {
        width:640px
    }
}

.orientation {
    z-index: 100000;
    background-color: #157efd
}

.orientation .orientation-wrap {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px
}

.orientation .loading {
    margin: 0 auto;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #EFEFEF
}

.orientation .mesg {
    padding: 0 20px;
    font-size: 17px;
    line-height: 30px;
    color: #fff;
    text-align: center
}

.transition {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s
}

.content-wrap > .content {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    display: block
}

.content-wrap > .content > li {
    position: relative;
    display: block
}

.content-wrap > .content > li:first-child h1 {
    display: none;
    width: 230px;
    padding: 10px;
    line-height: 30px;
    font-size: 19px;
    color: #fff;
    letter-spacing: .1em;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 10
}

.content-wrap > .content > li:first-child .desc {
    width: 100%;
    padding: 0 18px;
    padding-bottom: 0;
    line-height: 30px;
    font-size: 17px;
    color: #4c4c4c;
    letter-spacing: .1em
}

.content-wrap > .content > li:first-child .btn-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px
}

.content-wrap > .content > li:first-child .btn {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: .2em;
    width: 60%;
    margin: 0 auto
}

.content-wrap > .content > li:last-child {
    padding-top: 10px
}

.content-wrap > .content > li:last-child .result-img {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.content-wrap > .content > li:last-child .title {
    width: 100%;
    margin-top: 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: bolder
}

.content-wrap > .content > li:last-child .desc {
    width: 100%;
    padding: 0 17px;
    padding-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden
}

.content-wrap > .content > li:last-child .desc li {
    width: 100%;
    line-height: 30px;
    letter-spacing: .1em;
    font-size: 17px;
    color: #4c4c4c
}

.content-wrap > .content > li:last-child .btn-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px
}

.content-wrap > .content > li:last-child .btn {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: .2em
}

.content-wrap > .content > li:last-child .btn:first-child {
    margin-bottom: 15px
}

.content-wrap > .content > li:last-child .desc:first-letter {
    display: block;
    padding: 0 2px 0 0;
    float: left;
    font-size: 1.5em
}

.content-wrap > .content > li ul.answers {
    margin-top: 5px
}

.content-wrap > .content > li ul.answers li {
    width: 100%;
    padding: 8px 5px;
    line-height: 28px;
    font-size: 17px;
    color: #4c4c4c;
    border: 1px solid #dbdbdb;
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    position: relative
}

.content-wrap > .content > li ul.answers .padding-tb {
    padding-top: 14px;
    padding-bottom: 14px
}

.content-wrap > .content > li ul.answers li.vr {
    margin-top: 5px;
    padding: 0;
    border: 0;
    background-color: transparent
}

[class^="col-sm-"],[class*=" col-sm-"] {
    padding: 0 4px
}

.content-wrap > .content > li ul.answers li.vr .img-wrap {
    widows: 100%
}

.content-wrap > .content > li ul.answers li.vr .text-wrap {
    padding: 3px 10px 0
}

.content-wrap > .content > li ul.answers .block-box {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #dbdbdb
}

.content-wrap > .content > li ul.answers li .text-wrap {
    width: 100%
}

.content-wrap > .content > li ul.answers li.hr .img-wrap {
    position: absolute;
    top: 8px
}

.content-wrap > .content > li ul.answers li.hr .img-wrap.pl {
    left: 5px
}

.content-wrap > .content > li ul.answers li.hr .img-wrap.pr {
    right: 5px
}

.border-left-1 {
    border-left: 1px solid #DBDBDB
}

.border-right-2 {
    border-right: 1px solid #DBDBDB
}

.line {
    width: 100%;
    height: 1px;
    clear: both;
    background-color: #DBDBDB
}

div.img-cover[img-src] {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden
}

.img-cover h1 {
    width: 100%;
    margin: 0;
    padding: 3px 8px;
    font-size: 17px;
    line-height: 36px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0
}

.ending {
    z-index: 1000
}

.ending.full-page {
    background-color: rgba(0,0,0,.9)
}

.ending > .mesg {
    width: 230px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 1px dotted #fff;
    position: absolute;
    right: 50px;
    top: 50px
}

.ending > .mesg > .share {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -45px;
    right: -25px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg)
}

.ending .btn {
    position: absolute;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: .2em;
    width: 150px;
    top: 410px;
    left: 50%;
    margin-left: -75px
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    position: relative;
    min-height: 1px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left
}

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
    float: left
}

.col-sm-12 {
    width: 100%
}

.col-sm-11 {
    width: 91.66666667%
}

.col-sm-10 {
    width: 83.33333333%
}

.col-sm-9 {
    width: 75%
}

.col-sm-8 {
    width: 66.66666667%
}

.col-sm-7 {
    width: 58.33333333%
}

.col-sm-6 {
    width: 50%
}

.col-sm-5 {
    width: 41.66666667%
}

.col-sm-4 {
    width: 33.33333333%
}

.col-sm-3 {
    width: 25%
}

.col-sm-2 {
    width: 16.66666667%
}

.col-sm-1 {
    width: 8.33333333%
}

.cover-wrapper,.result-wrapper,.wrapper {
    position: absolute;
    padding: 0 8px;
    z-index: 1;
    width: 100%;
    overflow: hidden
}

.wrapper.padding-lr-4 {
    padding: 0 4px
}

.cover-wrapper,.result-wrapper {
    padding: 0
}

.cover-wrapper {
    margin: 10px 0
}

.cover-scroller,.result-scroller,.scroller {
    padding-bottom: 8px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

.cover-scroller,.result-scroller {
    padding-bottom: 0
}
