

.page-wrap {
        
}

.page {
    position: relative;
    padding: 60px 40px 60px 40px;
    overflow: hidden;
    outline: none;
    /*background-color:#f2ece4;*/
   

    -moz-box-shadow:1px 2px 12px #858585; 
    -webkit-box-shadow:1px 2px 12px #858585; 
    box-shadow:1px 2px 12px #858585;
}