<div class="school-detail-page">
	<div class="kaowei-title white-text center">
		{{school.info.school_name}}
	</div>
	
	<img class="school-img" ng-src="{{school.info.picUrl}}" alt="">

	<div class="exam-point-code-wrap white">
		<div class="point-code-label">
		考场代码
		</div>
		<div class="point-codes">
			<span class="point-code" ng-repeat="pointCode in school.number">{{pointCode}}</span>
		</div>
	</div>

	<div class="exam-point-position white" ng-click="showSchoolMap()">
		<i class="mdi-maps-place"></i>
		<span class="position-text">{{school.info.address}}</span>
		<i class="mdi-navigation-chevron-right"></i>
	</div>

	<div class="white">
		<div class="exam-point-position-diving-line"></div>
	</div>	

	<div class="exam-point-telephone white">
		<i class="mdi-maps-local-phone"></i>
		<span class="phone-text">{{school.info.phone}}</span>
		<i class="mdi-navigation-chevron-right"></i>
	</div>


	<div class="find-hotel waves-effect waves-hotel ">
		<img src="http://fz1.tpooo.com/static/kaowei/weihu/images/pic_1.gif" alt="">
		<span>找酒店</span>
	</div>
	<div class="find-food waves-effect waves-orange">
		<img src="http://fz1.tpooo.com/static/kaowei/weihu/images/pic_2.gif" alt="">
		<span>找美食</span>
	</div>

	<div class="white">
		<div class="traffic-label">
			交通路线
		</div>
	</div>	
	<div class="traffic-detail white">
		{{school.info.traffic}}
	</div>

</div>