<div class="kaowei-wrap">
	<div class="kaowei-title white-text center">
		托福考场信息
	</div>
	<div class="search-condition">
		<span class="selected-city orange-text">
			城市<i class="mdi-navigation-expand-more"></i>
		</span>
		<input class="keyword-input" type="text" placeholder="请输入城市、考场关键词">
	</div>

	<div class="search-result">
		<div class="city-school" ng-repeat="(city, schools) in citySchoolList">
			<div class="city-name">{{city}}</div>
			<div class="school" ng-class="{'last-school': $last}" ng-click="cc(id)" ng-repeat="(id, name) in schools">
				<span class="school-name">{{name}}</span>
				<i class="mdi-navigation-chevron-right"></i>
			</div>			
		</div>
	</div>

</div>

<script>

    function doSearch(){
        var text = $('.input_search').val().trim().toUpperCase();
        // 清除上次搜索结果
        $('.not-matched').each(function(){
            $(this).removeClass('not-matched');
        });
        if(!text){
            return;
        }
        // 遍历city节点
        $('.city').each(function(){
            var cityNode = $(this);
            // 处理未匹配的city节点
            if(cityNode.children('.info_title').text().toUpperCase() != text){
                var matchSchoolNode = false;
                // 遍历school节点
                cityNode.find('.school').each(function(){
                    var schoolNode = $(this);
                    // 隐藏不匹配的school节点
                    if(schoolNode.text().toUpperCase().indexOf(text) < 0){
                        schoolNode.addClass('not-matched');
                    }else{
                        matchSchoolNode = true;
                    }
                });
                // school节点全不匹配，隐藏整个city节点
                if(!matchSchoolNode){
                    cityNode.addClass('not-matched');
                }
            }
        });
    }

    $('.input_search').on('input propertychange', function(){
        doSearch();
    }); 

</script>